<div class="container">
  <div class="row">
    <div class="col m-3">
      <h3><%= @device.name %>のレビュー</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>タイトル</th>
          <td><%= @review.title %></td>
        </tr>
        <tr>
          <th>レビュー</th>
          <td class="text-wrap" style="width: 30rem;"><%= safe_join(@review.comment.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <th>参考画像</th>
          <td><%= attachment_image_tag @review, :image, size: '400x300' %></td>
        </tr>
        <% if @review.customer == current_customer %>
        <tr>
          <th></th>
          <td>
            <%= link_to "レビューを編集する", edit_device_review_path(@review.device.id, @review.id), class: "btn btn-success motion" %>
            <%= link_to "レビューを削除する", device_review_path(@review.device.id, @review.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger motion ml-5" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="container" style="width: 50rem;">
  <div class="row">
    <div class="mx-auto">
      <h3>コメント一覧</h3>
      <%= form_with model: @review_comment, url: device_review_review_comments_path(@review.device.id, @review.id), local: true do |f| %>
        <div>コメント投稿フォーム</div>
        <%= f.text_area :comment, size: "100x5" %><br>
        <div class="text-center">
          <%= f.submit "投稿する", class: "btn btn-success btn-lg motion" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <table class="table table-borderless">
        <% @review.review_comments.each do |review_comment| %>
        <tr>
          <td>投稿日時:<%= review_comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        <tr>
          <th class="text-wrap" style="width: 30rem;"><%= safe_join(review_comment.comment.split("\n"),tag(:br)) %></th>
          <% if review_comment.customer == current_customer %>
          <th>
            <%= link_to "コメント削除", device_review_review_comment_path(review_comment.review.device.id, review_comment.review.id, review_comment.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger btn-sm motion" %>
          </th>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
