<div class="container">
  <div class="row">
    <div class="col m-3">
      <h3>会員情報編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8" style="margin-left:100px">
    <%= form_with model:@customer, url: customers_mypage_update_path, local:true do |f|%>
      <table class="table table-borderless">
        <tr>
          <th>ユーザー名</th>
          <td><%= f.text_field :name, placeholder: "ユーザー名(15文字以内)" %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_quited == false %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-secondary">退会</div>
            <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= f.submit "変更を保存", class: "btn btn-success motion" %>
            <%= link_to "退会する", customers_quit_path, class: "btn btn-danger motion ml-5" %>
          </td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>
