<div class="container">
  <div class="row">
    <div class="col m-3">
      <h3><%= @device.name %>のレビュー</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>タイトル</th>
          <td><%= @review.title %></td>
        </tr>
        <tr>
          <th>レビュー</th>
          <td class="text-wrap" style="width: 30rem;"><%= @review.comment %></td>
        </tr>
        <tr>
          <th>参考画像</th>
          <td><%= attachment_image_tag @review, :image, size: '400x300' %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "レビューを削除する", admin_device_review_path(@review.device.id, @review.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger motion" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
