<div class="container">
  <div class="row">
    <div class="col m-3">
      <h3>お問い合わせ詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>ユーザー名</th>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <th>返信先メールアドレス</th>
          <td><%= @contact.email %></td>
        </tr>
        <tr>
          <th>件名</th>
          <td class="text-wrap" style="width: 30rem;"><%= @contact.title %></td>
        </tr>
        <tr>
          <th>お問い合わせ内容</th>
          <td class="text-wrap" style="width: 30rem;"><%= safe_join(@contact.message.split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "お問い合わせを削除する", admin_contact_path(@contact), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger motion" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
